body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    background-size: auto;
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

#calculator {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1e272e;
    border-radius: 25px;
    max-width: 500px;
    overflow: hidden;
}

#display {
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: #636e72;
}




button {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: #636e72;
    color: white;
    font-size: 2.3rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #34495e;
}

button:active {
    background-color: #bdc3c7;
}

.operator-btn {
    background-color: #ff9f43;
}
.operator-btn:active{
    background-color:#e67e22;
}